{% INCLUDE 'overall_header.html' %}
{% INCLUDECSS '@phpbb_pwakit/acp.css' %}
{% INCLUDEJS '@phpbb_pwakit/acp.js' %}

<a id="maincontent"></a>

<h1>{{ lang('ACP_PWA_KIT_SETTINGS') }}</h1>

<p>{{ lang('ACP_PWA_KIT_SETTINGS_EXPLAIN', PWA_IMAGES_DIR) }}</p>

{% if S_ERROR %}
<div class="errorbox">
	<h3>{{ lang('WARNING') }}</h3>
	<p>{{ ERROR_MSG }}</p>
</div>
{% endif %}

<form id="acp_pwakit" method="post" action="{{ U_ACTION }}" enctype="multipart/form-data">
	<fieldset>
		<legend>{{ lang('ACP_PWA_KIT_LEGEND_IDENTITY') }}</legend>
		<dl>
			<dt><label>{{ lang('SITE_NAME') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_PWA_KIT_SITE_NAME_EXPLAIN') }}</span></dt>
			<dd>{{ SITE_NAME }}</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('SITE_NAME_SHORT') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_PWA_KIT_SHORT_NAME_EXPLAIN') }}</span></dt>
			<dd>{{ SITE_NAME_SHORT }}</dd>
		</dl>
		<dl>
			<dt><label for="pwa_theme_color">{{ lang('ACP_PWA_THEME_COLOR') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_PWA_THEME_COLOR_EXPLAIN') }}</span></dt>
			<dd>
				<input type="text" id="pwa_theme_color" name="pwa_theme_color" size="20" value="{{ PWA_THEME_COLOR }}" placeholder="#000000">
				<input type="color" id="pwa_theme_color_picker" aria-label="{{ lang('ACP_PWA_THEME_COLOR') }}" value="{{ PWA_THEME_COLOR|default('#000000') }}">
			</dd>
		</dl>
		<dl>
			<dt><label for="pwa_bg_color">{{ lang('ACP_PWA_BG_COLOR') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_PWA_BG_COLOR_EXPLAIN') }}</span></dt>
			<dd>
				<input type="text" id="pwa_bg_color" name="pwa_bg_color" size="20" value="{{ PWA_BG_COLOR }}" placeholder="#000000">
				<input type="color" id="pwa_bg_color_picker" aria-label="{{ lang('ACP_PWA_BG_COLOR') }}" value="{{ PWA_BG_COLOR|default('#000000') }}">
			</dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">
		{{ S_FORM_TOKEN }}
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_PWA_KIT_LEGEND_ICONS') }}</legend>
		<dl>
			<dt><label for="pwa_upload">{{ lang('ACP_PWA_IMG_UPLOAD') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_PWA_IMG_UPLOAD_EXPLAIN', PWA_IMAGES_DIR) }}</span></dt>
			<dd>
				<input type="file" accept="image/*" class="inputbox autowidth" id="pwa_upload" name="pwa_upload" />
				<button class="button2 pwakit-button" id="upload" name="upload" value="{{ lang('ACP_PWA_IMG_UPLOAD_BTN') }}">{{ Icon('font', 'upload', lang('ACP_PWA_IMG_UPLOAD_BTN')) }}</button>
				<button class="button2 pwakit-button" id="resync" name="resync" value="{{ lang('ACP_PWA_IMG_RESYNC_BTN') }}">{{ Icon('font', 'sync', lang('ACP_PWA_IMG_RESYNC_BTN')) }}</button>
			</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_PWA_KIT_ICONS') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_PWA_KIT_ICONS_EXPLAIN') }}</span></dt>
			<dd>
				{% for icon in PWA_KIT_ICONS %}
					{% set iconName = icon.src|split('/')|last %}
					<p style="position: relative;">
						<span class="delete-btn-container">
							<img src="{{ icon.src }}" alt="{{ iconName|e("html") }}">
							<button class="delete-btn" name="delete" value="{{ icon.src }}" title="{{ lang('ACP_PWA_IMG_DELETE') }}">
								<span class="fa-stack fa-2x">
									{{ Icon('font', 'circle', '', true, 'fa-stack-2x fa-inverse') }}
									{{ Icon('font', 'trash-can', '', true, 'fa-stack-1x') }}
								</span>
							</button>
						</span><br>
						{{ iconName }}<br>{{ icon.sizes }}
					</p>
				{% else %}
					{{ lang('ACP_PWA_KIT_NO_ICONS') }}
				{% endfor %}
			</dd>
		</dl>
	</fieldset>
</form>

{% INCLUDE 'overall_footer.html' %}
